In [1254]:
import pandas as pd
from pathlib import Path

In [1255]:
scho_file = Path("C:/Users/CassandraTamora/Desktop/hello/pandas-challenge/PyCitySchools/Resources/schools_complete.csv")
stu_file = Path("C:/Users/CassandraTamora/Desktop/hello/pandas-challenge/PyCitySchools/Resources/students_complete.csv")

stu_df = pd.read_csv(stu_file)
scho_df = pd.read_csv(scho_file)

stuscho_df = pd.merge(stu_df, scho_df, on="school_name", how="left")
stuscho_df.head()

school_data_complete = stuscho_df

In [1256]:
total_schools = len(stuscho_df["school_name"].unique())
total_schools

15

In [1257]:
total_stu = len(stuscho_df)
total_stu

39170

In [1258]:
total_budget = (stuscho_df["budget"].unique()).sum()
total_budget

24649428

In [1259]:
avg_math = stuscho_df["math_score"].mean()
avg_math

78.98537145774827

In [1260]:
avg_read = stuscho_df["reading_score"].mean()
avg_read

81.87784018381414

In [1261]:
passing_math_count = stuscho_df[(stuscho_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(total_stu) * 100
passing_math_percentage

74.9808526933878

In [1262]:
passing_reading_count = stuscho_df[(stuscho_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(total_stu) * 100
passing_reading_percentage

85.80546336482001

In [1263]:
passing_math_reading_count = stuscho_df[
    (stuscho_df["math_score"] >= 70) & (stuscho_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(total_stu) * 100
overall_passing_rate

65.17232575950983

In [1264]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
#district_list = [total_schools, total_stu, total_budget, avg_math, avg_read,passing_math_percentage, passing_reading_percentage,overall_passing_rate]
district_summary = pd.DataFrame([{"Total Schools":total_schools,"Total Students":total_stu,"Total Budget":total_budget,
                                 "Average Math Score":avg_math,"Average Reading Score":avg_read,"% Passing Math":passing_math_percentage,
                                 "% Passing Reading":passing_reading_percentage, "%Overall Passing":overall_passing_rate}])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [1265]:
school_types = stuscho_df["type"].unique()
school_types

array(['District', 'Charter'], dtype=object)

In [1266]:
# Calculate the total student count per school
psc_df = stuscho_df.set_index("school_name")
per_school_counts = [len(psc_df.loc["Huang High School"]), len(psc_df.loc["Figueroa High School"]),
                    len(psc_df.loc["Shelton High School"]),len(psc_df.loc['Hernandez High School']),
                    len(psc_df.loc['Griffin High School']),len(psc_df.loc['Wilson High School']),
                    len(psc_df.loc['Cabrera High School']),len(psc_df.loc['Bailey High School']),
                    len(psc_df.loc['Holden High School']),len(psc_df.loc['Pena High School']),
                    len(psc_df.loc['Wright High School']),len(psc_df.loc['Rodriguez High School']),
                    len(psc_df.loc['Johnson High School']),len(psc_df.loc['Ford High School']),
                    len(psc_df.loc['Thomas High School'])]                    
per_school_counts

[2917,
 2949,
 1761,
 4635,
 1468,
 2283,
 1858,
 4976,
 427,
 962,
 1800,
 3999,
 4761,
 2739,
 1635]

In [1267]:

psc_df.index.name = None
psc_df.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635

In [1268]:
per_school_budget = [stuscho_df["budget"].unique()]
per_school_budget

[array([1910635, 1884411, 1056600, 3022020,  917500, 1319574, 1081356,
        3124928,  248087,  585858, 1049400, 2547363, 3094650, 1763916,
        1043130], dtype=int64)]

In [1269]:
per_school_capita = [((stuscho_df["budget"].unique())/(stuscho_df["size"].unique()))]
per_school_capita

[array([655., 639., 600., 652., 625., 578., 582., 628., 581., 609., 583.,
        637., 650., 644., 638.])]

In [1270]:
# Calculate the average test scores per school
per_school_math = [psc_df.loc["Huang High School","math_score"].mean(), psc_df.loc["Figueroa High School","math_score"].mean(),
                    psc_df.loc["Shelton High School","math_score"].mean(),psc_df.loc['Hernandez High School',"math_score"].mean(),
                    psc_df.loc['Griffin High School',"math_score"].mean(),psc_df.loc['Wilson High School',"math_score"].mean(),
                    psc_df.loc['Cabrera High School',"math_score"].mean(),psc_df.loc['Bailey High School',"math_score"].mean(),
                    psc_df.loc['Holden High School',"math_score"].mean(),psc_df.loc['Pena High School',"math_score"].mean(),
                    psc_df.loc['Wright High School',"math_score"].mean(),psc_df.loc['Rodriguez High School',"math_score"].mean(),
                    psc_df.loc['Johnson High School',"math_score"].mean(),psc_df.loc['Ford High School',"math_score"].mean(),
                    psc_df.loc['Thomas High School',"math_score"].mean()] 
per_school_math

[76.62941378128214,
 76.71176670057646,
 83.3594548551959,
 77.28975188781014,
 83.35149863760218,
 83.2742006132282,
 83.06189451022605,
 77.04843247588424,
 83.80327868852459,
 83.83991683991684,
 83.68222222222222,
 76.84271067766942,
 77.07246376811594,
 77.10259218692954,
 83.4183486238532]

In [1271]:
per_school_reading = [psc_df.loc["Huang High School","reading_score"].mean(), psc_df.loc["Figueroa High School","reading_score"].mean(),
                    psc_df.loc["Shelton High School","reading_score"].mean(),psc_df.loc['Hernandez High School',"reading_score"].mean(),
                    psc_df.loc['Griffin High School',"reading_score"].mean(),psc_df.loc['Wilson High School',"reading_score"].mean(),
                    psc_df.loc['Cabrera High School',"reading_score"].mean(),psc_df.loc['Bailey High School',"reading_score"].mean(),
                    psc_df.loc['Holden High School',"reading_score"].mean(),psc_df.loc['Pena High School',"reading_score"].mean(),
                    psc_df.loc['Wright High School',"reading_score"].mean(),psc_df.loc['Rodriguez High School',"reading_score"].mean(),
                    psc_df.loc['Johnson High School',"reading_score"].mean(),psc_df.loc['Ford High School',"reading_score"].mean(),
                    psc_df.loc['Thomas High School',"reading_score"].mean()] 
per_school_reading

[81.18272197463148,
 81.15801966768396,
 83.72572402044293,
 80.9344120819849,
 83.816757493188,
 83.98948751642575,
 83.97578040904197,
 81.03396302250803,
 83.81498829039812,
 84.04469854469855,
 83.955,
 80.74468617154288,
 80.96639361478681,
 80.74625775830594,
 83.84892966360856]

In [1272]:
#hmm. Okay. Well. 
scores_df = stuscho_df.groupby(["school_name"])
scores_df["math_score"].mean()

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [1273]:
per_school_counts = [stuscho_df.value_counts("school_name")]                 
per_school_counts

[school_name
 Bailey High School       4976
 Johnson High School      4761
 Hernandez High School    4635
 Rodriguez High School    3999
 Figueroa High School     2949
 Huang High School        2917
 Ford High School         2739
 Wilson High School       2283
 Cabrera High School      1858
 Wright High School       1800
 Shelton High School      1761
 Thomas High School       1635
 Griffin High School      1468
 Pena High School          962
 Holden High School        427
 Name: count, dtype: int64]

In [1274]:
pass_math_df = stuscho_df.loc[stuscho_df["math_score"]>=70]
#pass_math_df.head()
school_students_passing_math = [pass_math_df.value_counts("school_name")]
school_students_passing_math

[school_name
 Bailey High School       3318
 Johnson High School      3145
 Hernandez High School    3094
 Rodriguez High School    2654
 Wilson High School       2143
 Figueroa High School     1946
 Huang High School        1916
 Ford High School         1871
 Cabrera High School      1749
 Wright High School       1680
 Shelton High School      1653
 Thomas High School       1525
 Griffin High School      1371
 Pena High School          910
 Holden High School        395
 Name: count, dtype: int64]

In [1275]:
ninth_graders = stuscho_df[(stuscho_df["grade"] == "9th")]
ninth_grade_math_scores = (ninth_graders.groupby(["school_name"])["math_score"]).mean()
ninth_grade_math_scores.head()

school_name
Bailey High School      77.083676
Cabrera High School     83.094697
Figueroa High School    76.403037
Ford High School        77.361345
Griffin High School     82.044010
Name: math_score, dtype: float64

In [1276]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = (ninth_graders.groupby(["school_name"])["math_score"]).mean()
tenth_grader_math_scores = (tenth_graders.groupby(["school_name"])["math_score"]).mean()
eleventh_grader_math_scores = (eleventh_graders.groupby(["school_name"])["math_score"]).mean()
twelfth_grader_math_scores = (twelfth_graders.groupby(["school_name"])["math_score"]).mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th":ninth_grade_math_scores,
                                     "10th":tenth_grader_math_scores,"11th":eleventh_grader_math_scores,
                                     "12th":twelfth_grader_math_scores})

# Minor data wrangling
#math_scores_by_grade = math_scores_by_grade("School Names")
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986