In [225]:
import pandas as pd
from pathlib import Path

In [226]:
scho_file = Path("C:/Users/CassandraTamora/Desktop/hello/pandas-challenge/PyCitySchools/Resources/schools_complete.csv")
stu_file = Path("C:/Users/CassandraTamora/Desktop/hello/pandas-challenge/PyCitySchools/Resources/students_complete.csv")

stu_df = pd.read_csv(stu_file)
scho_df = pd.read_csv(scho_file)

stuscho_df = pd.merge(stu_df, scho_df, on="school_name", how="left")
stuscho_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [227]:
total_schools = len(stuscho_df["school_name"].unique())
total_schools

15

In [228]:
total_stu = len(stuscho_df)
total_stu

39170

In [229]:
total_budget = (stuscho_df["budget"].unique()).sum()
total_budget

24649428

In [230]:
avg_math = stuscho_df["math_score"].mean()
avg_math

78.98537145774827

In [231]:
avg_read = stuscho_df["reading_score"].mean()
avg_read

81.87784018381414

In [232]:
passing_math_count = stuscho_df[(stuscho_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(total_stu) * 100
passing_math_percentage

74.9808526933878

In [233]:
passing_reading_count = stuscho_df[(stuscho_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(total_stu) * 100
passing_reading_percentage

85.80546336482001

In [234]:
passing_math_reading_count = stuscho_df[
    (stuscho_df["math_score"] >= 70) & (stuscho_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(total_stu) * 100
overall_passing_rate

65.17232575950983

In [235]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
#district_list = [total_schools, total_stu, total_budget, avg_math, avg_read,passing_math_percentage, passing_reading_percentage,overall_passing_rate]
district_summary = pd.DataFrame([{"Total Schools":total_schools,"Total Students":total_stu,"Total Budget":total_budget,
                                 "Average Math Score":avg_math,"Average Reading Score":avg_read,"% Passing Math":passing_math_percentage,
                                 "% Passing Reading":passing_reading_percentage, "%Overall Passing":overall_passing_rate}])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [236]:
school_types = stuscho_df["type"].unique()
school_types

2